[project]
	description = A Distributed ID Generator for E&R
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yanjiong WANG (sinewang)
[access "refs/for/refs/*"]
	read = group user/Yanjiong WANG (sinewang)
	push = group user/Yanjiong WANG (sinewang)
	label-Code-Review = -2..+2 group user/Yanjiong WANG (sinewang)
	label-Verified = -1..+1 group user/Yanjiong WANG (sinewang)
	rebase = group user/Yanjiong WANG (sinewang)
	removeReviewer = group user/Yanjiong WANG (sinewang)
	submit = group user/Yanjiong WANG (sinewang)
[access "refs/heads/*"]
	read = group user/Yanjiong WANG (sinewang)
	create = group user/Yanjiong WANG (sinewang)
	push = +force group user/Yanjiong WANG (sinewang)
	pushMerge = group user/Yanjiong WANG (sinewang)
[access "refs/tags/*"]
	push = +force group user/Yanjiong WANG (sinewang)
	pushTag = group user/Yanjiong WANG (sinewang)
	pushSignedTag = group user/Yanjiong WANG (sinewang)
